<h1 style="color:red ;margin-left:500px">My Cart</h1>
<div style="display:flex;flex-direction:column;margin-left:300px;">
  <div class= "btn btn-info" (click)="clear()">clear my cart</div>
<div *ngFor="let productdetail of ht">
<div style="border:3px solid black; background-color:palegoldenrod; width:500px ;margin-top:10px">

  <div style="display:flex;flex-wrap:nowrap ;margin-top:50px;">

    <img src=" {{productdetail.items.image}}">  <h3 >{{productdetail.items.name}} is added  Rs.{{productdetail.items.price}} </h3>
  </div>
  <button class="btn btn-primary" (click)=remove1(productdetail.items.product_id)>remove product</button>
  <button class="btn btn-success" (click)=increment(productdetail.items.product_id)>+</button>
  <input type="text" value={{productdetail.quantity}}> <button class="btn btn-danger" (click)=decrement(productdetail.items.product_id)>-</button>

</div>
</div>

</div>
<div style="margin-left:300px">
<div style="background-color:palegoldenrod; width:200px;border:1px solid black"><h3>Total Rs.{{sum}}</h3></div>
<button class="btn btn-primary" (click)="order()">checkout</button>
</div>
